body{
    margin: 0;
}

.header {
    height: 70px;
    background: linear-gradient(125.94deg, #FFD600 19.16%, #FFBB08 70.64%);
}

.headerlogo h5{
    padding: 20px;
    color: darkblue;
    margin-left: 30px;
    font-size: 24px;
}

.headerlist button{
    margin-top: 15px;
    float: right;
    margin-right: 50px;
    border-radius: 8px;
    background-color: #3D2187;
    color: white;
    border: 2px solid #3D2187;
}
.headerlist button:hover{
    background-color: #200345;
    color: white;
}

.container{
    margin-top: 30px; 
}


.card-text{
    margin:10px 0px;
}

.card-img-top{
    height: 280px;

}

.delete{
    float: right;
}
.card{
    margin-top: 15px;
    border-radius: 6px;
}


.footer{
    margin-top: 15px;
    height: 70px;
    background: linear-gradient(125.94deg, #FFD600 19.16%, #FFBB08 70.64%);
    width: 100%;

}

.footer h5{
    color: #3D2187;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    margin: 0px;
}

.footer p{
    margin: 0px;
    padding: 0px;
    color: #3D2187;
    text-align: center;
    font-size: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}




.wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
    padding: 30px;
  }
  
  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #7318c7;
    text-transform: uppercase;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .wrapper .form .input_field label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
  }
  
  .wrapper .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }